/* SEARCH */
#ct_search_container{
    float: right;
    position: relative;
    width: 250px;
    padding: 5px 15px;
    height:23px;
    background: #c0c0c0 url(images/gray_bk_top.gif) repeat-x right center;
}

#ct_search_container a:link, #ct_search_container a:visited{
    color: #555555;
    text-decoration: none;
}

#ct_search_container a:hover, #ct_search_container a:active {
    color: #333333;
    text-decoration: none;
}

#ct_search{
    color: #555555;
    width: 200px;
    height: 20px;
    padding: 0px 25px 0px 5px;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#ct_search{
    height: 18px;
}

#ct_search_value{
    position: absolute;
    top: 0px;
    left: 7px;
    opacity:0;
    filter:alpha(opacity=0);
    z-index: 300;
}

#ct_advanced_search{
    position: absolute;
    top: 8px;
    left: 220px;
    z-index: 300;
    width: 16px;
    height: 16px;
    background: url(images/advanced_search.png);
}

#ct_loader{
    display: none;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    float: right;
    background: url(images/loading.gif);
}

/* ITEMS_PER_PAGE */
#ct_items_per_page_container{
    float: left;
    width: 338px;
    padding: 5px 15px;
    height:23px;
    background: #c0c0c0 url(images/gray_bk_top.gif) repeat-x right center;
}

/* TABLE */
#ct {
    border-collapse:collapse;
    width:100%;
    margin-top: 0px;
    clear: both;
}

#ct th{
    color: #555555;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    border:1px solid #d3d3d3;
    background-color: #ddd;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:right center;
    padding:3px 20px 3px 8px;
    margin: 0px;
    cursor: pointer;
}

#ct th.sort{
    background-image: url(images/sort_black.gif);
}

#ct th.sort_asc{
    background-image: url(images/sort_asc_black.gif);
}

#ct th.sort_desc{
    background-image: url(images/sort_desc_black.gif);
}

#ct_multiple_search th{
    padding:0px;
}

#ct_multiple_search th input{
    width: 100%;
    padding: 0px;
    height: 20px;
    border: 0px;
}

#ct td{
    color: #555555;
    border:1px solid #d3d3d3;
    padding:5px 8px;
}

#ct .odd, #ct_no_results{
    background-color: #EEFFEE;
}

/*
#ct .odd:hover{
    background-color: #EEFFEE;
}
*/

#ct .even{
    background-color: #DDFFDD;
}

/*
#ct .even:hover{
    background-color: #DDFFDD;
}
*/

/* BOTTOM CONTAINER : ACTIONS + PAGER */
#ct_pager_container{
    width:100%;
    height: 33px;
    background: #c0c0c0 url(images/gray_bk_top.gif) repeat-x right center;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

/* ACTIONS */
#ct_actions_container{
    margin-top: 20px;
    float: left;
}

/* PAGER */
/* YOU MAY DELETE THIS IF YOU DONT USE THE CREATIVE PAGER */
#ct_pager{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 7px;
    margin-right: 15px;
}

#ct_pager li{
    display: inline;
}

#ct_pager li a{
    display: inline;
    color: #555555;
    font-size: 12px;
    text-decoration: none;
    padding: 2px 6px;
    background: #ededed url(images/gray_bk_pager.gif) repeat-x left top;
    border: 1px solid #D3D3D3;
}

#ct_pager li a:hover{
    background: #ededed url(images/gray_bk_pager_hover.gif) repeat-x left top;
    color: #333333;
}

#ct_pager li a.selected{
    background: #ededed url(images/gray_bk_pager_hover.gif) repeat-x left top;
    color: #555555;
    font-weight: bold;
}

#ct_pager_info1{
    font-size: 9px;
    height: 20px;
    margin: 5px 0px 10px 0px;
    padding: 0px 10px 0px 10px;
    float: left;
}

#ct_pager_info2{
    display: none;
}


#ct_pager_prev a{
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

#ct_pager_next a{
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

#ct_pager_pos_first{
    color: #000000;
    font-size: 12px;
    margin-right: 3px;
    padding: 5px;
}

#ct_pager_pre_last{
    color: #000000;
    font-size: 12px;
    margin-right: 3px;
    padding: 5px;
}

#ct_pager_first a{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#ct_pager_last a{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

